{% extends 'base.html' %}

{% block content %} 
<h1>Training Program</h1>
    
        
            <!--TODO(kara,userinput) use datetime="", reversed from "race-day" 
            class="caldate" will come from datetimeformating (python, passed 
            forward OR (later) hard-coded into the html and content can be moved/back independent of date.-->
    <main>
        <section>
            {% for week in training_plan %}
                {% set workouts = week.workouts %}
                {% for workout in workouts %}
                    {% set segments = workout.segments %}
                    <span>{{ workout.show_workout() }}</span>
                    {% for segment in segments %}
                        <time datetime="2015-07-26" class="blank"><span class="caldate">{{ segment.show_segment() }}</span></time>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock %}

<!-- use for loop to populate; it will make the whole program, 18 weeks 
for week in []
    for i in tuple 
        <li> = i  -->
