{% extends 'base.html' %}

{% block content %} 
<h1>Training Program</h1>
    
        
            <!--TODO(kara,userinput) use datetime="", reversed from "race-day" 
            class="caldate" will come from datetimeformating (python, passed 
            forward OR (later) hard-coded into the html and content can be moved/back independent of date.-->
    <main>
        <section>
            <div>
                {% for tup in zipped_training_plan %}
                    {% for day, workout in tup %}
                        <ul>
                            <ul>
                                <time datetime={{day.isoformat()}} class="blank">{{day.day}}<span class="caldate">
                                <li>{{ workout.show_workout() }}</li>
                                    {% set segments = workout.segments %}
                                    {% for segment in segments %}
                                        {% set segment = segment.show_segment() %}
                                    <ul>
                                            {% for attr in segment %}
                                                <li>{{attr}}</li>
                                            {% endfor %}
                                    </ul>
                                    </span></time>
                                {% endfor %}
                            </ul>
                        </ul>   
                    {% endfor %}
                {% endfor%}
                            
            </div>        
        </section>
    </main>
{% endblock %}
